body {
    background: white;
    background-image: url("https://images5.alphacoders.com/708/thumb-1920-708742.jpg");
    background-size: auto   100vh;
    font-family: Verdana;
    height: 100vh;

}
.menu {
    background-color: blanchedalmond;  
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration-color: black;
    text-decoration: underline;
    
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    list-style: none;
}
.titulo_secundario,
.titulo_principal {
    color:whitesmoke;
    text-align: center;
}
.rodape_pag {
    background-color: black;
	color: white;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}